.A_Btn {
  padding-left: 0.273vw;

  color: var(--white, #fff);
  leading-trim: both;
  text-edge: cap;
  font-family: 'Inter', sans-serif;
  font-size: 3.125vw;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 80px */
  letter-spacing: -0.059vw;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  transition: 0.1s;

  padding-top: 0.547vw;
}

.W_Footer > .A_Btn {
  padding-left: 0;
}

.A_GoDown {
  padding-left: 0.43vw;

  color: var(--white, #fff);

  font-family: 'Inter', sans-serif;
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 32px */
  width: fit-content;
}

.A_NavText {
  color: var(--white);
  font-family: 'Inter', sans-serif;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 32px */
  cursor: pointer;

  text-decoration: none;
  // transition: color 0.3s ease;
}

.A_NavText.nav {
  color: var(--grey);
}

.A_NavText.highlight {
  color: var(--white);
}

#nav_adc:hover {
  color: var(--white);
}

#nav_pog:hover {
  color: var(--white);
}

#nav_chat:hover {
  color: var(--white);
}

#nav_jinx:hover {
  color: var(--white);
}

#nav_nice:hover {
  color: var(--white);
}

.A_NavText:hover {
  color: var(--grey, #fff);
}

.A_CaseHeaderLeadNote {
  color: var(--white, #fff);
  text-align: right;
  font-family: 'Inter', sans-serif;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: -0.018vw;
}

.A_CaseHeaderLeadLinkNote {
  padding-top: 0.078vw;

  color: var(--white, #fff);
  font-family: 'Inter', sans-serif;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: -0.018vw;
  text-decoration-line: underline;
  padding-top: 0.195vw;
}

.A_Tag {
  height: 1.641vw;
  padding: 0.195vw 0.781vw;
  justify-content: center;
  align-items: center;

  border-radius: 0.273vw;
  border: 1px solid var(--white, #fff);

  color: var(--white);
  font-family: 'Inter', sans-serif;
  font-size: 0.781vw;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 30px */
  letter-spacing: -0.015vw;
}

.A_Tag:first-child {
  background-color: var(--white);
  color: var(--black);
}

@media only screen and (max-device-width: 462px) {
  .A_Btn {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.608px;
  }

  .A_GoDown {
    padding-left: 0;
    font-size: 18px;
  }

  .A_CaseHeaderLeadNote {
    font-size: 15px;
  }

  .A_CaseHeaderLeadLinkNote {
    font-size: 15px;
  }

  .A_Tag {
    height: 30px;
    padding: 3px 12px 5px 12px;

    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 0px;
  }
}
