.M_CaseHeaderLeadLink {
  display: flex;
  align-items: flex-start;
  gap: 0.313vw;
  cursor: pointer;
}

.M_CaseHeaderLeadLink:hover :nth-child(-n + 2) {
  color: var(--grey);
}

.M_Navigation {
  display: flex;
  flex-direction: column;

  gap: 1.25vw;
}
