.O_CaseHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.O_HeadScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  min-height: 42.422vw;
}

.O_Case {
  display: flex;
  flex-direction: column;
  gap: 2.813vw;
}

@media only screen and (max-device-width: 462px) {
  .O_HeadScreen {
    height: 60vh;
  }

  .O_CaseHeader {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
  }

  .O_Case {
    gap: 52px;
  }
}
