.Q_CaseHeaderLeadLinkArrow {
  color: var(--white, #fff);
  leading-trim: both;
  text-edge: cap;
  font-family: 'Inter';
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: -0.018vw;
}

.Q_AvatarPic {
  padding-left: 0.508vw;

  width: 15.234vw;
  height: 15.234vw;
}

.Q_Cover {
  width: 42.266vw;
  height: 23.75vw;
}

.Q_SmallPic {
  width: 25vw;
  height: 14.531vw;
}

.Q_MedPic {
  width: 38.281vw;
  height: 23.359vw;
}

.Q_BigPic {
  width: 51.563vw;
  height: 30.625vw;
}

.Q_GiantPic {
  width: 78.125vw;
  height: 43.984vw;
}

.Q_Smile {
  width: 1.406vw;
  height: 2.813vw;
}
