.Q_CaseHeaderLeadLinkArrow {
  color: var(--white, #fff);
  font-family: 'Inter', sans-serif;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: -0.018vw;
}

.Q_BtnArrow {
  color: var(--white, #fff);
  font-family: 'Inter', sans-serif;
  font-size: 3.125vw;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 80px */
  letter-spacing: -0.059vw;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  transition: 0.1s;
}

.Q_AvatarPic {
  padding-left: 0.508vw;

  width: 15.234vw;
  height: 15.234vw;
}

.avatarContainer {
  position: relative;
  display: inline-block; /* Для правильного отображения */
}

.gifka {
  display: block; /* Убедись, что изображение отображается корректно */
}

.gifka:hover {
  content: url('./images/img-0.gif'); /* Путь к гифке */
}

.Q_Cover {
  width: 42.266vw;
  height: 23.75vw;
}

.Q_SmallPic {
  width: 25vw;
  height: 14.531vw;
}

.Q_MedPic {
  width: 38.281vw;
  height: 23.359vw;
}

.Q_BigPic {
  width: 51.563vw;
  height: 30.625vw;

  opacity: 0; /* делаем изображение невидимым, пока оно не загрузилось */
  transition: opacity 0.3s ease; /* плавный переход */
}

.Q_BigPic.loaded {
  opacity: 1; /* делаем изображение видимым, когда загрузилось */
}

.Q_GiantPic {
  width: 78.125vw;
  height: 43.984vw;
}

.Q_Smile {
  width: 1.406vw;
  height: 2.813vw;
}
@media only screen and (max-device-width: 462px) {
  .Q_AvatarPic {
    width: 194px;
    height: 194px;

    padding-left: 0px;
  }

  .Q_Cover {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .Q_SmallPic {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .Q_MedPic {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .Q_BigPic {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .Q_GiantPic {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}
