.W_ConnectorV144 {
  display: flex;
  flex-direction: column;
  gap: 4.609vw;
}

.W_CaseHeaderLead {
  display: flex;
  justify-content: space-between;
}

.W_CaseHeaderDescriptionText {
  display: flex;
  flex-direction: column;
  gap: 1.797vw;
}

.W_CaseHeaderDescription {
  display: flex;
  flex-direction: column;
  gap: 5.938vw;
}

.W_ConnectorV72 {
  display: flex;
  flex-direction: column;
  gap: 2.813vw;
}

.W_ConnectorV304 {
  position: sticky;
  top: 1.875vw;
  min-width: 9.297vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  min-height: 42.422vw;
  padding-top: 0.781vw;
}

.W_ConnectorV392 {
  display: flex;
  flex-direction: column;
  gap: 15.117vw;
}

.W_ConnectorV65 {
  width: auto;
  display: inline-flex;
  flex-direction: column;
  gap: 2.148vw;
}

.W_ConnectorV465 {
  display: flex;
  flex-direction: column;
  gap: 18.164vw;
  margin-top: 100vh;
}

.W_ConnectorV168 {
  display: flex;
  padding-left: 0.039vw;
  flex-direction: column;
  gap: 6.563vw;
}

.W_ConnectorH106 {
  display: flex;
  gap: 4.141vw;
}

.W_Tags {
  display: flex;
  gap: 0.625vw;
}

.W_ConnectorH40 {
  display: flex;
  gap: 1.563vw;
  width: 100%;
  // justify-content: space-between;
}

.W_ConnectorV40 {
  display: flex;
  flex-direction: column;
  gap: 1.563vw;
}

.W_ConnectorV200 {
  display: flex;
  flex-direction: column;
  gap: 7.813vw;
  padding-left: 0.391vw;
}

.W_BtnArrow {
  display: flex;
  gap: 0.938vw;
  text-decoration: none;
  width: fit-content;
}

.W_BtnArrow:hover > .A_Btn {
  transition: 0.1s;
  color: var(--grey);
}

.W_BtnArrow:hover > .Q_BtnArrow {
  transition: 0.1s;
  color: var(--grey);
}

.W_Footer {
  display: flex;
  padding-left: 0.195vw;
  justify-content: space-between;
}

@media only screen and (max-device-width: 462px) {
  .W_ConnectorV304 {
    display: none;
  }

  .W_ConnectorV144 {
    gap: 68px;
  }

  .W_ConnectorH106 {
    flex-direction: column;
    gap: 52px;
  }

  .W_ConnectorH40 {
    flex-direction: column;
    gap: 24px;
  }

  .W_ConnectorV40 {
    gap: 24px;
  }

  .W_ConnectorV65 {
    gap: 16px;
  }

  .W_ConnectorV200 {
    gap: 56px;
    padding: 0;
  }

  .W_BtnArrow {
    gap: 8px;
  }

  .W_CaseHeaderDescription {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  .W_CaseHeaderDescriptionText {
    gap: 36px;
  }

  .W_Tags {
    gap: 10px;
  }

  .W_ConnectorV168 {
    padding: 0px;
    gap: 76px;
  }

  .W_Footer {
    padding-left: 0;
    justify-content: space-between;
  }
}
