* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #090909;
  font-family: 'PT Root UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
  position: static;
}

.images {
  display: flex;

  * {
    width: 24px;
    height: 24px;
    margin: 0 10px;
  }

  .image {
    &#bgPNG {
      background-image: url('images/image.png');
    }

    &#bgJPG {
      background-image: url('images/image.jpg');
    }

    &#bgSVG {
      background-image: url('images/image.svg');
    }
  }
}

img {
  display: block;
}

.modal {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* затемнение фона */
  top: 0;
  left: 0;
  backdrop-filter: blur(12px);
  cursor: pointer;
}

.modalPic {
  z-index: 2;
  position: fixed;
  width: 58.594vw;
  left: calc(50% - 29.297vw);
  top: 50%;
  transform: translateY(-50%);
}

.U_Hide {
  display: none;
}

.ZoomPic {
  cursor: zoom-in;
}

.closeCross {
  position: absolute;
  right: 62px;
  top: 52px;
}

.closeCross:hover {
  opacity: 50%;
}
