body.index {
  height: auto;
  display: flex;
  background-color: #090909;

  padding: 1.875vw 2.891vw 2.656vw 2.813vw;
  gap: 7.813vw;

  position: static;
}

::-webkit-scrollbar {
  width: 8px;
  transition: opacity 0.3s ease;
}

::-webkit-scrollbar-track {
  background-color: #111111;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.36);
}

.hide-scrollbar::-webkit-scrollbar {
  opacity: 0;
}

hr {
  height: 2px;
  width: 100%;
}

h1 {
  color: var(--white, #fff);
  font-family: 'Inter', sans-serif;
  font-size: 6.094vw;
  font-style: normal;
  font-weight: 500;
  line-height: 104%; /* 162.24px */
  letter-spacing: -0.116vw;
}

h2 {
  color: var(--white, #fff);
  font-family: 'Inter', sans-serif;
  font-size: 4.531vw;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 116px */
  letter-spacing: -0.086vw;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

h3 {
  color: var(--white, #fff);
  leading-trim: both;
  text-edge: cap;
  font-family: 'Inter', sans-serif;
  font-size: 3.125vw;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 80px */
  letter-spacing: -0.059vw;
  // text-transform: uppercase;
}

p {
  color: var(--white, #fff);
  font-family: 'Inter', sans-serif;
  font-size: 1.172vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 45px */
}

@media only screen and (max-width: 462px) {
  body.index {
    padding: 16px;
    gap: 0px;
  }

  h1 {
    font-size: 44px;
    line-height: 114%; /* 50.16px */
    letter-spacing: -0.836px;
  }

  h2 {
    font-size: 44px;
    line-height: 114%; /* 50.16px */
    letter-spacing: -0.836px;
  }

  h3 {
    font-size: 32px;
    line-height: 100%;
  }

  p {
    letter-spacing: -0.342px;
    font-size: 18px;
    line-height: 150%;
  }
}

.top_title_scroll_down {
  position: absolute;
  right: 2.891vw;
  top: 43.5vw;
  cursor: pointer;

  p {
    transform: rotate(-6.45deg);
    font-size: 1.641vw;
  }

  // Класс для программной анимации каждые 15 секунд
  &.tilting-active {
    animation: tilting-sharp 0.8s steps(2, end);
  }
}

@keyframes tilting-sharp {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-12deg);
  }
}

.arrow_down_top {
  position: absolute;
  top: -0.195vw;
  left: -2.539vw;
  width: 3.281vw;
  height: 3.633vw;

  background-image: url('./images/arrow_down.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nav_hover {
  position: relative;
  &:hover {
    color: #000 !important;
    transition: none;
    font-weight: 700;
    &::after {
      display: block;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-40%, -50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 200%;
    height: 100px;
    z-index: -1;
    pointer-events: none;
    user-select: none;
    display: none;
  }

  &.red {
    &::after {
      background-image: url('./images/hover_red.gif');
    }
  }
  &.purple {
    &::after {
      background-image: url('./images/hover_purple.gif');
    }
  }
  &.light-green {
    &::after {
      background-image: url('./images/hover_light-green.gif');
    }
  }
  &.pink {
    &::after {
      background-image: url('./images/hover_pink.gif');
    }
  }
  &.green {
    &::after {
      background-image: url('./images/hover_green.gif');
    }
  }
  &.yellow {
    &::after {
      background-image: url('./images/hover_yellow.gif');
    }
  }
}
