body.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
  & > div,
  & > a {
    // margin: 10px 0;
  }
}

p {
  color: aqua;
}
